<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Hello World Example</title>

    <!-- include bootstrap -->
    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

    <main role="main" class="container">
        <div align="center">
            <h1>SpringBoot Example - My Task List</h1>

            <hr/>
            <br/>

            <div class="row">
                <div class="col border"><b>My Tasks</b></div>
                <div class="col border">
                    <ul>
                        <li th:each="task : ${taskList}" th:text="${task.id + ' - ' + task.task}"></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col border" colspan="2">
                    <p>new task</p>
                    <form action="#" th:action="@{/}" th:object="${task}" method="post">
                        <div class="form-group">
                            <label for="taskInput">Task Name:</label>
                            <input type="text" th:field="*{task}" id="taskInput">
                        
                            <button type="submit" class="btn btn-primary">Add Task</button>
                        </div>
                    </form>
                    
                    <form action="#" th:action="@{/clear}" method="post">
                        <button type="submit" class="btn btn-primary">Clear Tasks</button>
                    </form>
                    
                </div>
            </div>
        
            <br>
            <br>
            <hr>
            app: springboot / thymeleaf / bootstrap
            <br>
            deployment: mvn / docker / kubernetes

        </div>
    </main>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>
